Repository memristor/mep3, pull requests merged in 2021-11, with the labels that each got.

#13 Model diska
  mep3_simulation/webots_data/protos/.gitignore
  mep3_simulation/webots_data/protos/Sample.proto
  mep3_simulation/webots_data/worlds/assets/.gitignore
  mep3_simulation/webots_data/worlds/assets/samples/blue.png
  mep3_simulation/webots_data/worlds/assets/samples/bottom.png
  mep3_simulation/webots_data/worlds/assets/samples/empty.png
  mep3_simulation/webots_data/worlds/assets/samples/green.png
  mep3_simulation/webots_data/worlds/assets/samples/red.png
  mep3_simulation/webots_data/worlds/assets/table.png
  mep3_simulation/webots_data/worlds/assets/table_pow2.png
  mep3_simulation/webots_data/worlds/eurobot_2022.wbt
Labels: simulation

#15 Pedestral
  mep3_simulation/webots_data/worlds/eurobot_2022.wbt
Labels: simulation

#18 Central tracking device platform
  mep3_simulation/webots_data/worlds/eurobot_2022.wbt
Labels: simulation

#14 Fixed wall thickness
  mep3_simulation/webots_data/worlds/eurobot_2022.wbt
Labels: bug, simulation

#17 Dispensers
  mep3_simulation/webots_data/protos/DispenserVertical.proto
  mep3_simulation/webots_data/worlds/.gitignore
  mep3_simulation/webots_data/worlds/eurobot_2022.wbt
Labels: simulation

#24 ROS2 setup
  README.md
  mep3_simulation/README.md
  mep3_simulation/launch/robot_launch.py
  mep3_simulation/mep3_simulation/__init__.py
  mep3_simulation/package.xml
  mep3_simulation/resource/mep3_simulation
  mep3_simulation/resource/ros2_control_configuration.yml
  mep3_simulation/resource/webots_robot_description.urdf
  mep3_simulation/setup.cfg
  mep3_simulation/setup.py
  mep3_simulation/test/test_copyright.py
  mep3_simulation/test/test_flake8.py
  mep3_simulation/test/test_pep257.py
  mep3_simulation/webots_data/worlds/eurobot_2022.wbt
Labels: simulation

#23 Excavation squares
  mep3_simulation/webots_data/protos/.gitignore
  mep3_simulation/webots_data/protos/ExcavationSquare.proto
  mep3_simulation/webots_data/worlds/assets/samples/excSq_purple1.png
  mep3_simulation/webots_data/worlds/assets/samples/excSq_purple2.png
  mep3_simulation/webots_data/worlds/assets/samples/excSq_red.png
  mep3_simulation/webots_data/worlds/assets/samples/excSq_yellow1.png
  mep3_simulation/webots_data/worlds/assets/samples/excSq_yellow2.png
  mep3_simulation/webots_data/worlds/assets/samples/pcb.png
  mep3_simulation/webots_data/worlds/eurobot_2022.wbt
Labels: simulation

#27 Integrate Navigation2 package
  .gitattributes
  .gitignore
  README.md
  mep3_simulation/launch/robot_launch.py
  mep3_simulation/package.xml
  mep3_simulation/resource/default.rviz
  mep3_simulation/resource/map.pgm
  mep3_simulation/resource/map.yml
  mep3_simulation/setup.py
Labels: navigation
