Repository memristor/mep3, pull requests merged in 2021-12, with the labels that each got.

#30 Refactor distance-angle regulator
  mep3_msgs/CMakeLists.txt
  mep3_msgs/msg/MotionCommand.msg
  mep3_msgs/package.xml
  mep3_navigation/CMakeLists.txt
  mep3_navigation/README.md
  mep3_navigation/include/mep3_navigation/distance_angle/distance_angle_regulator.hpp
  mep3_navigation/include/mep3_navigation/distance_angle/motion_profile.hpp
  mep3_navigation/include/mep3_navigation/distance_angle/pid_regulator.h
  mep3_navigation/package.xml
  mep3_navigation/src/distance_angle/distance_angle_regulator.cpp
  mep3_navigation/src/distance_angle/motion_profile.cpp
  mep3_navigation/src/distance_angle/pid_regulator.c
  mep3_tools/README.md
  mep3_tools/distance_angle/distance_angle/__init__.py
  mep3_tools/distance_angle/include/distance_angle/distance_angle_regulator.hpp
  mep3_tools/distance_angle/include/distance_angle/motion_profile.hpp
  mep3_tools/distance_angle/src/motion_profile.cpp
  mep3_tools/trapezoidal_trajectory_generator/.idea/.gitignore
  mep3_tools/trapezoidal_trajectory_generator/.idea/inspectionProfiles/profiles_settings.xml
  mep3_tools/trapezoidal_trajectory_generator/.idea/misc.xml
  mep3_tools/trapezoidal_trajectory_generator/.idea/modules.xml
  mep3_tools/trapezoidal_trajectory_generator/.idea/trapezoidal_trajectory_generator.iml
  mep3_tools/trapezoidal_trajectory_generator/.idea/vcs.xml
  mep3_tools/trapezoidal_trajectory_generator/MotionProfile.py
  mep3_tools/trapezoidal_trajectory_generator/README.md
  mep3_tools/trapezoidal_trajectory_generator/motion_profile.hpp
Labels: navigation

#29 Continuous integration
  .github/workflows/ci.yml
  .github/workflows/linter.yml
  .gitignore
  README.md
  mep3_driver/launch/driver_launch.py
  mep3_driver/package.xml
  mep3_simulation/launch/robot_launch.py
  mep3_simulation/package.xml
  mep3_simulation/setup.py
  mep3_simulation/test/test_copyright.py
  mep3_simulation/test/test_flake8.py
  mep3_simulation/test/test_pep257.py
Labels: devops

#31 Velocity state for wheel joints
  mep3_driver/include/mep3_driver/robot_hardware_interface.hpp
  mep3_driver/launch/driver_launch.py
  mep3_driver/resource/mep3_big_config.urdf
  mep3_driver/src/motion_board_driver.cpp
  mep3_driver/src/robot_hardware_interface.cpp
Labels: low level control

#33 Replace webots_ros2_core by webots_ros2_driver
  mep3_simulation/launch/robot_launch.py
Labels: bug, simulation

#34 Planner - BehaviorTree.cpp
  .github/workflows/linter_cpp.yml
  .github/workflows/linter_python.yml
  README.md
  mep3_behavior_tree/CMakeLists.txt
  mep3_behavior_tree/CPPLINT.cfg
  mep3_behavior_tree/assets/strategies/ros_demo.xml
  mep3_behavior_tree/include/mep3_behavior_tree/bt_action_node.hpp
  mep3_behavior_tree/include/mep3_behavior_tree/navigate_to_action.hpp
  mep3_behavior_tree/package.xml
  mep3_behavior_tree/src/mep3_behavior_tree.cpp
  mep3_robot/README.md
  mep3_robot/launch/robot_launch.py
  mep3_robot/package.xml
  mep3_robot/resource/default.rviz
  mep3_robot/resource/map.pgm
  mep3_robot/resource/map.yml
  mep3_robot/resource/mep3_robot
  mep3_robot/setup.cfg
  mep3_robot/setup.py
  mep3_robot/test/test_flake8.py
  mep3_robot/test/test_pep257.py
  mep3_simulation/launch/simulation_launch.py
  mep3_simulation/resource/ros2_control_configuration.yml
  mep3_simulation/setup.py
Labels: planning

#36 Robot arm
  .gitattributes
  mep3_simulation/resource/ros2_control_configuration.yml
  mep3_simulation/webots_data/.gitignore
  mep3_simulation/webots_data/controllers/.gitignore
  mep3_simulation/webots_data/controllers/test_robot/.gitignore
  mep3_simulation/webots_data/controllers/test_robot/Makefile
  mep3_simulation/webots_data/controllers/test_robot/test_robot.cpp
  mep3_simulation/webots_data/controllers/test_robot_arm_memristor/Makefile
  mep3_simulation/webots_data/controllers/test_robot_arm_memristor/test_robot_arm_memristor.cpp
  mep3_simulation/webots_data/controllers/test_robot_arm_rcva/.gitignore
  mep3_simulation/webots_data/controllers/test_robot_arm_rcva/Makefile
  mep3_simulation/webots_data/controllers/test_robot_arm_rcva/test_robot_arm_rcva.cpp
  mep3_simulation/webots_data/protos/.gitignore
  mep3_simulation/webots_data/protos/ExcavationSquare.proto
  mep3_simulation/webots_data/protos/RobotArmMemristor.proto
  mep3_simulation/webots_data/protos/RobotArmRcva.proto
  mep3_simulation/webots_data/protos/RobotMemristor.proto
  mep3_simulation/webots_data/protos/Sample.proto
  mep3_simulation/webots_data/worlds/assets/.gitignore
  mep3_simulation/webots_data/worlds/assets/meshes/.gitignore
  mep3_simulation/webots_data/worlds/assets/meshes/robot/Robot.obj
  mep3_simulation/webots_data/worlds/assets/meshes/robot_arm_memristor/robot_arm_base.obj
  mep3_simulation/webots_data/worlds/assets/meshes/robot_arm_memristor/robot_arm_gripper.obj
  mep3_simulation/webots_data/worlds/assets/meshes/robot_arm_memristor/robot_arm_mid1.obj
  mep3_simulation/webots_data/worlds/assets/meshes/robot_arm_memristor/robot_arm_mid2.obj
  mep3_simulation/webots_data/worlds/assets/meshes/robot_arm_rcva/arm_base.obj
  mep3_simulation/webots_data/worlds/assets/meshes/robot_arm_rcva/arm_gripper.obj
  mep3_simulation/webots_data/worlds/assets/meshes/robot_arm_rcva/arm_mid.obj
  mep3_simulation/webots_data/worlds/eurobot_2022.wbt
  mep3_simulation/webots_data/worlds/test_robot.wbt
  mep3_simulation/webots_data/worlds/test_robot_arm_memristor.wbt
  mep3_simulation/webots_data/worlds/test_robot_arm_rcva.wbt
Labels: simulation
