Repository memristor/mep3, pull requests merged in 2022-03, with the labels that each got.

#101 Webots simulation fixes
  README.md
  mep3_simulation/webots_data/protos/DispenserOuter.proto
  mep3_simulation/webots_data/protos/ExhibitionHall.proto
  mep3_simulation/webots_data/protos/StatuetteSupport.proto
  mep3_simulation/webots_data/worlds/eurobot_2022.wbt
Labels: simulation

#91 Robot Update
  README.md
  mep3_behavior_tree/assets/strategies/first_strategy.xml
  mep3_simulation/webots_data/controllers/test_robot/test_robot.cpp
  mep3_simulation/webots_data/protos/.gitignore
  mep3_simulation/webots_data/protos/ArucoTag.proto
  mep3_simulation/webots_data/protos/FixedBeaconSupport.proto
  mep3_simulation/webots_data/protos/Hand.proto
  mep3_simulation/webots_data/protos/OmniWheel.proto
  mep3_simulation/webots_data/protos/OpponentBox.proto
  mep3_simulation/webots_data/protos/RobotArmMemristor.proto
  mep3_simulation/webots_data/protos/RobotArmMemristor2.proto
  mep3_simulation/webots_data/protos/RobotMemristor.proto
  mep3_simulation/webots_data/protos/RobotMemristor2.proto
  mep3_simulation/webots_data/protos/Wheel.proto
  mep3_simulation/webots_data/worlds/.gitignore
  mep3_simulation/webots_data/worlds/assets/meshes/.gitignore
  mep3_simulation/webots_data/worlds/assets/meshes/RobotArmMemristor2/base.obj
  mep3_simulation/webots_data/worlds/assets/meshes/RobotArmMemristor2/base_motor.obj
  mep3_simulation/webots_data/worlds/assets/meshes/RobotArmMemristor2/connector.obj
  mep3_simulation/webots_data/worlds/assets/meshes/RobotArmMemristor2/gripper.obj
  mep3_simulation/webots_data/worlds/assets/meshes/RobotArmMemristor2/gripper_dodatno.obj
  mep3_simulation/webots_data/worlds/assets/meshes/RobotArmMemristor2/mid_lower.obj
  mep3_simulation/webots_data/worlds/assets/meshes/RobotArmMemristor2/mid_lower_motor.obj
  mep3_simulation/webots_data/worlds/assets/meshes/RobotArmMemristor2/mid_lower_white.obj
  mep3_simulation/webots_data/worlds/assets/meshes/RobotArmMemristor2/mid_upper.obj
  mep3_simulation/webots_data/worlds/assets/meshes/RobotArmMemristor2/mid_upper_grey.obj
  mep3_simulation/webots_data/worlds/assets/meshes/RobotArmMemristor2/mid_upper_motor.obj
  mep3_simulation/webots_data/worlds/assets/meshes/RobotArmMemristor2/mid_upper_screws.obj
  mep3_simulation/webots_data/worlds/assets/meshes/RobotMemristor2/hand_Dz_left.obj
  mep3_simulation/webots_data/worlds/assets/meshes/RobotMemristor2/hand_Dz_right.obj
  mep3_simulation/webots_data/worlds/assets/meshes/RobotMemristor2/hand_G_left.obj
  mep3_simulation/webots_data/worlds/assets/meshes/RobotMemristor2/hand_G_right.obj
  mep3_simulation/webots_data/worlds/assets/meshes/RobotMemristor2/hand_L_mid.obj
  mep3_simulation/webots_data/worlds/assets/meshes/RobotMemristor2/kapa.obj
  mep3_simulation/webots_data/worlds/assets/meshes/RobotMemristor2/mushroom.obj
  mep3_simulation/webots_data/worlds/assets/meshes/RobotMemristor2/pogon_zatezaci.obj
  mep3_simulation/webots_data/worlds/assets/meshes/RobotMemristor2/robot_bosch.obj
  mep3_simulation/webots_data/worlds/assets/meshes/RobotMemristor2/robot_crveno.obj
  mep3_simulation/webots_data/worlds/assets/meshes/RobotMemristor2/robot_motori.obj
  mep3_simulation/webots_data/worlds/assets/meshes/RobotMemristor2/robot_motori_drzaci.obj
  mep3_simulation/webots_data/worlds/assets/meshes/RobotMemristor2/robot_osnovno.obj
  mep3_simulation/webots_data/worlds/assets/meshes/RobotMemristor2/robot_vakuum_pumpe.obj
  mep3_simulation/webots_data/worlds/assets/meshes/RobotMemristor2/sisaljke_baza.obj
  mep3_simulation/webots_data/worlds/assets/meshes/RobotMemristor2/sisaljke_kolena.obj
  mep3_simulation/webots_data/worlds/assets/meshes/RobotMemristor2/sisaljke_osnovno.obj
  mep3_simulation/webots_data/worlds/assets/meshes/RobotMemristor2/switch.obj
  mep3_simulation/webots_data/worlds/assets/meshes/RobotMemristor2/zamenjivac_dodatno.obj
  mep3_simulation/webots_data/worlds/assets/meshes/RobotMemristor2/zamenjivac_osnovno.obj
  mep3_simulation/webots_data/worlds/assets/meshes/robot/Robot.obj
  mep3_simulation/webots_data/worlds/assets/meshes/robot_arm_memristor/robot_arm_base.obj
  mep3_simulation/webots_data/worlds/assets/meshes/robot_arm_memristor/robot_arm_gripper.obj
  mep3_simulation/webots_data/worlds/assets/meshes/robot_arm_memristor/robot_arm_mid1.obj
  mep3_simulation/webots_data/worlds/assets/meshes/robot_arm_memristor/robot_arm_mid2.obj
  mep3_simulation/webots_data/worlds/assets/meshes/robot_arm_rcva/arm_base.obj
  mep3_simulation/webots_data/worlds/assets/meshes/robot_arm_rcva/arm_gripper.obj
  mep3_simulation/webots_data/worlds/assets/meshes/robot_arm_rcva/arm_mid.obj
  mep3_simulation/webots_data/worlds/eurobot_2022.wbt
  mep3_simulation/webots_data/worlds/test_robot.wbt
Labels: simulation

#93 Go straight to the destination
  mep3_simulation/webots_data/controllers/opponent_robot/opponent_robot.py
  mep3_simulation/webots_data/worlds/eurobot_2022.wbt
  mep3_simulation/webots_data/worlds/test_opponent_robot.wbt
Labels: simulation

#111 New vacuum pumps
  mep3_simulation/webots_data/protos/RobotMemristor2.proto
  mep3_simulation/webots_data/worlds/assets/meshes/RobotMemristor2/sisaljke_baza.obj
  mep3_simulation/webots_data/worlds/assets/meshes/RobotMemristor2/sisaljke_kolena.obj
  mep3_simulation/webots_data/worlds/assets/meshes/RobotMemristor2/sisaljke_osnovno.obj
Labels: simulation

#126 Terminal shortcuts
  README.md
  docker/Dockerfile
  docker/Makefile
  docker/config/shortcuts.sh
  docker/provision/mep3.mk
Labels: enhancement, devops

#128 Fix obstacles map
  mep3_bringup/resource/map.pgm
  mep3_bringup/resource/map.xcf
  mep3_bringup/resource/map.yml
Labels: simulation

#129 Rpp precision + bt degrees
  mep3_behavior_tree/assets/strategies/first_strategy.xml
  mep3_behavior_tree/include/mep3_behavior_tree/navigate_to_action.hpp
  mep3_behavior_tree/include/mep3_behavior_tree/precise_navigate_to_action.hpp
  mep3_navigation/params/nav2_params_big.yaml
Labels: navigation, planning

#130 Regulator time fix
  mep3_navigation/include/mep3_navigation/distance_angle/distance_angle_regulator.hpp
  mep3_navigation/src/distance_angle/distance_angle_regulator.cpp
Labels: navigation

#131 Additional terminal shortcuts and strategy scratchpad
  docker/config/shortcuts.sh
Labels: planning, devops

#113 Resistance meter
  docker/config/shortcuts.sh
  mep3_behavior_tree/assets/strategies/first_strategy.xml
  mep3_behavior_tree/include/mep3_behavior_tree/resistance_meter_action.hpp
  mep3_behavior_tree/src/mep3_behavior_tree.cpp
  mep3_bringup/launch/robot_launch.py
  mep3_bringup/launch/simulation_launch.py
  mep3_msgs/CMakeLists.txt
  mep3_msgs/action/ResistanceMeter.action
  mep3_simulation/mep3_simulation/resistance_meter_driver.py
  mep3_simulation/package.xml
  mep3_simulation/resource/config_big.urdf
  mep3_simulation/resource/ros2_control_big.yaml
  mep3_simulation/webots_data/protos/Hand.proto
  mep3_simulation/webots_data/protos/RobotMemristor2.proto
  mep3_simulation/webots_data/worlds/eurobot_2022.wbt
Labels: simulation, planning

#133 Robot Update - Lift
  mep3_behavior_tree/assets/strategies/first_strategy.xml
  mep3_simulation/resource/config_big.urdf
  mep3_simulation/webots_data/protos/Lift.proto
  mep3_simulation/webots_data/protos/RobotArmMemristor2.proto
  mep3_simulation/webots_data/protos/RobotMemristor2.proto
  mep3_simulation/webots_data/worlds/assets/meshes/RobotMemristor2/lift_letva.obj
  mep3_simulation/webots_data/worlds/assets/meshes/RobotMemristor2/lift_motor.obj
  mep3_simulation/webots_data/worlds/assets/meshes/RobotMemristor2/lift_motor_kuciste.obj
  mep3_simulation/webots_data/worlds/assets/meshes/RobotMemristor2/lift_plate.obj
  mep3_simulation/webots_data/worlds/assets/meshes/RobotMemristor2/lift_sine.obj
  mep3_simulation/webots_data/worlds/assets/meshes/RobotMemristor2/lift_sine_drzaci.obj
  mep3_simulation/webots_data/worlds/assets/meshes/RobotMemristor2/lift_zupcanik.obj
  mep3_simulation/webots_data/worlds/assets/meshes/RobotMemristor2/robot_vakuum_pumpe.obj
Labels: simulation

#134 Lynxmotion Webots driver, Lift command action
  docker/config/shortcuts.sh
  mep3_behavior_tree/assets/strategies/first_strategy.xml
  mep3_behavior_tree/include/mep3_behavior_tree/lift_command_action.hpp
  mep3_behavior_tree/src/mep3_behavior_tree.cpp
  mep3_simulation/mep3_simulation/webots_dynamixel_driver.py
  mep3_simulation/resource/config_big.urdf
Labels: simulation, planning

#137 Statuette and replica
  mep3_behavior_tree/assets/strategies/first_strategy.xml
  mep3_simulation/mep3_simulation/webots_replica_driver.py
  mep3_simulation/mep3_simulation/webots_statuette_driver.py
  mep3_simulation/resource/config_big.urdf
  mep3_simulation/webots_data/protos/Hand.proto
  mep3_simulation/webots_data/protos/Replica.proto
  mep3_simulation/webots_data/protos/Statuette.proto
  mep3_simulation/webots_data/worlds/assets/meshes/statuette.obj
  mep3_simulation/webots_data/worlds/eurobot_2022.wbt
Labels: simulation
