Repository memristor/mep3, pull requests merged in 2022-02, with the labels that each got.

#81 dynamixel driver - Converted to Action and added meaningful conversion
  mep3_driver/mep3_driver/dynamixel_driver.py
  mep3_msgs/CMakeLists.txt
  mep3_msgs/action/DynamixelCommand.action
Labels: low level control

#85 Set `$VGL_PORT` to host `$DISPLAY` in VNC Docker container
  docker/provision/vnc.mk
Labels: bug

#76 Add Dynamixel Webots driver
  mep3_behavior_tree/assets/strategies/ros_demo.xml
  mep3_behavior_tree/include/mep3_behavior_tree/.#bt_action_node.hpp
  mep3_behavior_tree/include/mep3_behavior_tree/bt_action_node.hpp
  mep3_behavior_tree/include/mep3_behavior_tree/dynamixel_command_action.hpp
  mep3_behavior_tree/include/mep3_behavior_tree/vacuum_pump_command_action.hpp
  mep3_behavior_tree/src/mep3_behavior_tree.cpp
  mep3_bringup/launch/robot_launch.py
  mep3_bringup/launch/simulation_launch.py
  mep3_msgs/CMakeLists.txt
  mep3_msgs/action/DynamixelCommand.action
  mep3_msgs/action/VacuumPumpCommand.action
  mep3_simulation/launch/simulation_launch.py
  mep3_simulation/mep3_simulation/webots_dynamixel_driver.py
  mep3_simulation/mep3_simulation/webots_vacuum_pump_driver.py
  mep3_simulation/package.xml
  mep3_simulation/resource/config_big.urdf
  mep3_simulation/webots_data/protos/OpponentBox.proto
Labels: simulation

#82 Rpp ruckig
  mep3_navigation/CMakeLists.txt
  mep3_navigation/include/mep3_navigation/regulated_pure_pursuit_controller/regulated_pure_pursuit_controller.hpp
  mep3_navigation/params/nav2_params_big.yaml
  mep3_navigation/src/regulated_pure_pursuit_controller/regulated_pure_pursuit_controller.cpp
Labels: enhancement

#88 nav2 typo fix
  mep3_navigation/include/mep3_navigation/regulated_pure_pursuit_controller/regulated_pure_pursuit_controller.hpp
  mep3_navigation/src/regulated_pure_pursuit_controller/regulated_pure_pursuit_controller.cpp
Labels: bug

#90 Gallery
  mep3_bringup/resource/map.pgm
  mep3_bringup/resource/map.xcf
  mep3_simulation/webots_data/protos/GalleryPanel.proto
  mep3_simulation/webots_data/worlds/assets/gallery/purple.png
  mep3_simulation/webots_data/worlds/assets/gallery/yellow.png
  mep3_simulation/webots_data/worlds/eurobot_2022.wbt
Labels: simulation

#92 WaitMatchStart BT action node
  mep3_behavior_tree/assets/strategies/first_strategy.xml
  mep3_behavior_tree/include/mep3_behavior_tree/wait_match_start_action.hpp
  mep3_behavior_tree/src/mep3_behavior_tree.cpp
  mep3_msgs/CMakeLists.txt
  mep3_simulation/mep3_simulation/match_start_driver.py
  mep3_simulation/resource/config_big.urdf
Labels: simulation, planning

#96 Middle divider
  mep3_simulation/webots_data/controllers/camera_controller/camera_controller
  mep3_simulation/webots_data/worlds/eurobot_2022.wbt
Labels: simulation

#97 Exhibition hall
  mep3_simulation/webots_data/protos/ExhibitionHall.proto
  mep3_simulation/webots_data/worlds/eurobot_2022.wbt
Labels: simulation

#98 Added FixedBeaconSupport proto
  mep3_simulation/webots_data/protos/FixedBeaconSupport.proto
  mep3_simulation/webots_data/worlds/eurobot_2022.wbt
Labels: simulation

#99 Add LiDAR driver
  mep3_bringup/resource/ros2_control_big.yaml
  mep3_driver/launch/driver_launch.py
  mep3_driver/package.xml
Labels: low level control

#100 Add cinch driver
  mep3_driver/CMakeLists.txt
  mep3_driver/launch/driver_launch.py
  mep3_driver/mep3_driver/cinch_driver.py
Labels: low level control

#94 Add a custom BT Nav2 tree
  mep3_bringup/launch/robot_launch.py
  mep3_driver/launch/driver_launch.py
  mep3_navigation/CMakeLists.txt
  mep3_navigation/behavior_trees/navigate_w_recovery_and_replanning_only_if_path_becomes_invalid.xml
  mep3_navigation/include/mep3_navigation/plugins/condition/globally_updated_goal_condition.hpp
  mep3_navigation/launch/navigation_launch.py
  mep3_navigation/params/nav2_params_big.yaml
  mep3_navigation/src/plugins/condition/globally_updated_goal_condition.cpp
  mep3_simulation/launch/simulation_launch.py
  mep3_simulation/resource/ros2_control_big.yaml
  mep3_simulation/webots_data/controllers/opponent_robot/opponent_robot.py
Labels: enhancement, navigation
