Repository memristor/mep3, pull requests merged in 2022-01, with the labels that each got.

#49 ROS 2 installation and setup script
  install.bash
Labels: devops

#52 Add LDS-01 Lidar
  mep3_simulation/resource/webots_robot_description.urdf
  mep3_simulation/webots_data/protos/RobotMemristor.proto
Labels: simulation

#55 Uninstall LFS
  .gitattributes
  .github/workflows/ci.yml
  mep3_robot/resource/map.pgm
  mep3_simulation/webots_data/worlds/assets/meshes/robot/Robot.obj
  mep3_simulation/webots_data/worlds/assets/meshes/robot_arm_memristor/robot_arm_base.obj
  mep3_simulation/webots_data/worlds/assets/meshes/robot_arm_memristor/robot_arm_gripper.obj
  mep3_simulation/webots_data/worlds/assets/meshes/robot_arm_memristor/robot_arm_mid1.obj
  mep3_simulation/webots_data/worlds/assets/meshes/robot_arm_memristor/robot_arm_mid2.obj
  mep3_simulation/webots_data/worlds/assets/meshes/robot_arm_rcva/arm_base.obj
  mep3_simulation/webots_data/worlds/assets/meshes/robot_arm_rcva/arm_gripper.obj
  mep3_simulation/webots_data/worlds/assets/meshes/robot_arm_rcva/arm_mid.obj
  mep3_simulation/webots_data/worlds/assets/samples/blue.png
  mep3_simulation/webots_data/worlds/assets/samples/bottom.png
  mep3_simulation/webots_data/worlds/assets/samples/empty.png
  mep3_simulation/webots_data/worlds/assets/samples/excSq_purple1.png
  mep3_simulation/webots_data/worlds/assets/samples/excSq_purple2.png
  mep3_simulation/webots_data/worlds/assets/samples/excSq_red.png
  mep3_simulation/webots_data/worlds/assets/samples/excSq_yellow1.png
  mep3_simulation/webots_data/worlds/assets/samples/excSq_yellow2.png
  mep3_simulation/webots_data/worlds/assets/samples/green.png
  mep3_simulation/webots_data/worlds/assets/samples/pcb.png
  mep3_simulation/webots_data/worlds/assets/samples/red.png
  mep3_simulation/webots_data/worlds/assets/table.png
Labels: devops

#48 Navigation
  mep3_navigation/CMakeLists.txt
  mep3_navigation/launch/bringup_launch.py
  mep3_navigation/package.xml
  mep3_navigation/params/nav2_params.yaml
  mep3_robot/launch/robot_launch.py
  mep3_robot/resource/default.rviz
  mep3_robot/resource/map.pgm
  mep3_robot/resource/map.xcf
  mep3_robot/resource/map.yml
  mep3_simulation/resource/ros2_control_configuration.yml
Labels: navigation

#51 Distance angle Ruckig
  .github/workflows/ci.yml
  README.md
  install.bash
  mep3_msgs/CMakeLists.txt
  mep3_msgs/action/MotionCommand.action
  mep3_msgs/msg/MotionCommand.msg
  mep3_navigation/CMakeLists.txt
  mep3_navigation/include/mep3_navigation/distance_angle/distance_angle_regulator.hpp
  mep3_navigation/include/mep3_navigation/distance_angle/motion_profile.hpp
  mep3_navigation/include/mep3_navigation/distance_angle/pid_regulator.h
  mep3_navigation/package.xml
  mep3_navigation/src/distance_angle/distance_angle_regulator.cpp
  mep3_navigation/src/distance_angle/motion_profile.cpp
  mep3_navigation/src/distance_angle/pid_regulator.c
  mep3_simulation/resource/ros2_control_configuration.yml
Labels: low level control

#61 Fix rviz and costmap namespaces
  mep3_bringup/resource/default.rviz
  mep3_navigation/launch/navigation_launch.py
  mep3_navigation/params/nav2_params_big.yaml
Labels: bug, navigation

#64 DWB Controller
  mep3_navigation/params/nav2_params_big.yaml
Labels: navigation

#65 Fix the distange_angle_regulator action name
  mep3_bringup/resource/default.rviz
  mep3_navigation/params/nav2_params_big.yaml
  mep3_navigation/src/distance_angle/distance_angle_regulator.cpp
Labels: bug

#71 Upgrade Webots to R2022a
  .github/workflows/ci.yml
  .github/workflows/linter_cpp.yml
  .github/workflows/linter_python.yml
  README.md
  install.bash
  mep3_bringup/resource/default.rviz
  mep3_driver/include/mep3_driver/robot_hardware_interface.hpp
  mep3_driver/src/robot_hardware_interface.cpp
  mep3_navigation/launch/navigation_launch.py
  mep3_navigation/package.xml
  mep3_navigation/params/nav2_params_big.yaml
  mep3_simulation/launch/simulation_launch.py
  mep3_simulation/webots_data/controllers/test_robot_arm_rcva/.gitignore
  mep3_simulation/webots_data/controllers/test_robot_arm_rcva/Makefile
  mep3_simulation/webots_data/controllers/test_robot_arm_rcva/test_robot_arm_rcva.cpp
  mep3_simulation/webots_data/protos/DispenserVertical.proto
  mep3_simulation/webots_data/protos/ExcavationSquare.proto
  mep3_simulation/webots_data/protos/OpponentBox.proto
  mep3_simulation/webots_data/protos/RobotArmMemristor.proto
  mep3_simulation/webots_data/protos/RobotArmRcva.proto
  mep3_simulation/webots_data/protos/RobotMemristor.proto
  mep3_simulation/webots_data/protos/Sample.proto
  mep3_simulation/webots_data/worlds/eurobot_2022.wbt
  mep3_simulation/webots_data/worlds/test_controller.wbt
  mep3_simulation/webots_data/worlds/test_robot.wbt
  mep3_simulation/webots_data/worlds/test_robot_arm_memristor.wbt
  mep3_simulation/webots_data/worlds/test_robot_arm_rcva.wbt
Labels: enhancement

#74 Improve the installation script
  .github/workflows/ci.yml
  install.bash
Labels: enhancement
